// Grayscale
$WHITE: #fff;
$BLACK: #000;
$GRAY2: #222;
$GRAY3: #333;
$GRAY6: #666;
$GRAYA: #aaa;
$GRAYD: #ddd;
$GRAYE: #eee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #fc0;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;
